body{
text-align: center;
background-color: rgb(81, 65, 100);
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1.4rem;
}

input,select,button{
    background-color: black;
    border-radius: 4px;
    color: white;
    font-family:'Lucida Sans';
    font-size: 1.25rem;
    text-align: center;
    padding: 4px 4px;
}